body {
  font-family: "Press Start 2P", cursive;
  background-color: rgb(3, 91, 121);
}

header > h1 {
  font-size: 300%;
  text-align: center;
}

header h1 > a {
  text-decoration: none;
  color: black;
}

.board {
  margin: 2%;
}

.cell {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  font-size: 0;
}

.cell2 {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.table-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.ship {
  background: black;
}

.ship2 {
  background: gray;
}

.miss {
  background: white;
}

.correct {
  background: red;
}
