body {
  font-family: "Press Start 2P", cursive;
  background-color: rgb(3, 91, 121);
}

header > h1 {
  font-size: 300%;
  text-align: center;
}

header h1 > a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 150%;
  text-align: center;
}

.flex-container {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  padding-left: 0;
}

.flex-item {
  margin-top: 3rem;
  align-items: center;
}

.flex-item > a {
  text-decoration: none;
  color: black;
}

.screenshot-title {
  margin-top: 5rem;
}

.screenshot-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  padding-left: 0;
  justify-content: space-evenly;
}

.screenshot-item {
  align-items: center;
  width: 30vw;
  height: auto;
}

.rodape {
  font-size: 0.5rem;
  margin-top: 5rem;
  text-align: center;
}
